# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Run grunt': 'grunt:run'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Grunt'
      'submenu': [
        { 'label': 'Run', 'command': 'grunt:run' }
      ]
    ]
  }
]

'context-menu':
  '.tree-view':
    'Run grunt': 'grunt:run'
